.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(208, 243, 199);
  position: sticky;
  top: 0;
  justify-content: flex-end;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 0px;
  margin-right: auto;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionText {
  display: flex;
  font-weight: 600;
  font-size: 20px;
}
